
<%= render "shared/second-header" %>
<%= form_with model: @user, url: user_registration_path, class: 'registration_main', local: true do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
<div class="form_wrap">
  <div class="form-header">
    <h1 class="form_header_text">
      新規登録
    </h1>
  </div>
</div>
<div class="form-group" id="new_user" >
  <div class="form-text-wrap">
    <label class="form-text">ニックネーム</label>
    <span class="indispensable">必須</span>
  </div>
  <%= f.text_field :nickname, autofocus: true, class: "input_default",
  id: "nickname", placeholder:"あだ名" %>
</div>

<div class="form-group">
  <div class="form-text-wrap">
    <label class="form-text">名字</label>
    <span class="indispensable">必須</span>
  </div>
  <%= f.text_field :last_name, autofocus: true, class: "input_default",
  id: "last_name", placeholder:"みょうじ" %>
</div>
<div class="form-group">
  <div class="form-text-wrap">
    <label class="form-text">名前</label>
    <span class="indispensable">必須</span>
  </div>
  <%= f.text_field :first_name, autofocus: true, class: "input_default",
  id: "first_name", placeholder:"なまえ" %>
</div>
<div class="form-group">
  <div class="form-text-wrap">
    <label class="form-text">Email</label>
    <span class="indispensable">必須</span>
  </div>
  <%= f.email_field :email, autofocus: true, class: "input_default",
  id: "email", placeholder:"メールアドレス" %>
</div>

<div class="form-group">
  <div class="form-text-wrap">
    <label class="form-text">パスワード</label>
    <span class="indispensable">必須</span>
  </div>
   <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> 文字以上)</em>
    <% end %><br />
  <%= f.password_field :password, autofocus: true, class: "input_default",
  id: "password", placeholder:"パスワード" %>
</div>
<div class="form-group">
  <div class="form-text-wrap">
    <label class="form-text">パスワード</label>
    <span class="indispensable">必須 (確認用)</span>
  </div>
  <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input_default",
  id: "password_confirmation", placeholder:"同じパスワードを入力してください。" %>
</div>

<div class='request-btn'>
    <%= f.submit "新規登録" ,class:"work_request-btn" %>
</div>
 
<% end %>

<%= render "devise/shared/links" %>