<%= render "shared/header" %>
<div class="work_buton">
<%= link_to 'お仕事を発注する', new_home_work_path(@home.id), class: "work-up" %>
</div>
<% if current_user.works %>
  <div class="works_index">
    <% current_user.works.each do |work| %>
      <% if work.complete == nil %>
        <div class="work_contents">
          <%= work.title %> <br>
          <% if work.images.count > 0 %>
              <%= link_to image_tag(work.images.first.variant(resize: "50x50").processed),home_work_path(@home.id, work.id), class: "won" %> <br>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>

<h1><%= @home.name %></h1>

<table>
  <thead>
    <tr>
      <th>お仕事一覧</th>
      <th>予定日時</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @home.works.each do |work| %>
      <tr>
        <% if user_signed_in? && work.complete == nil %>
          <td><%= link_to work.title, home_work_path(@home.id, work.id),class: "work-up" %></td>
          <td><%= work.start_time.strftime("%Y-%m-%d %H:%M") %></td>
          <td><%= link_to 'お仕事を受ける', home_work_path(@home.id, work.id) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= month_calendar events: @home.works do |date, works| %>
  <%= date.day %>

  <% works.each do |work| %>
    <% if work.complete == nil %>
      <div class = "work_title_link">
        <%= link_to work.title, home_work_path(@home.id, work.id),class: "work_title_link" %>
      </div>
    <% else %>
      <div class = "work_title_link">
        <%= link_to work.title, home_work_path(@home.id, work.id),class: "work_title_link2" %>❌
      </div>
    <% end %>
  <% end %>
<% end %>
