<%= render "shared/second-header" %>
<%= form_with model: [@home,@work], class: 'form', local: true do |f| %>
<div class="form_wrap">
  <div class="form-header">
    <h1 class="form_header_text">
      お仕事情報入力
    </h1>
  </div>
</div>
<%= render 'layouts/error_messages', model: f.object %>
<div class="form-group">
  <div class="form-text-wrap">
    <label class="form-text">お仕事名</label>
    <span class="indispensable">必須</span>
  </div>
  <%= f.text_field :title, class: "input_default",
  id: "title", placeholder:"例) 皿洗い" %>
</div>

<div class="form-group">
  <div class="form-text-wrap">
    <label class="form-text">お仕事の詳細</label>
    <span class="indispensable">必須</span>
  </div>
  <%= f.text_area :text_content, class: "input_default",
  id: "text_content", placeholder:"例) できるだけシンクをきれいに使ってください" %>
</div>
<div class="form-group">
  <div class="form-text-wrap">
    <label class="form-text">お小遣い金額</label>
    <span class="indispensable">必須</span>
  </div>
  <%= f.text_field :price, class: "input_default",
  id: "price", value: 200 %>円
</div>
<div class="form-group">
  <div class="form-text-wrap">
    <label class="form-text">必要時間数予想</label>
    <span class="indispensable">必須</span>
  </div>
  <%= f.number_field :need_time, step: "0.5", min: 0.5, max: 5,
    value: 0.5,class: "input_default",id: "need_time" %>時間
</div>
<div class="form-group">
  <div class="form-text-wrap">
    <label class="form-text">参考画像</label>
  </div>
    <%= f.file_field :images, multiple: true,class: "input_default",id: "work_image" %>
</div>
<div class="form-group">
  <div class="form-text-wrap">
    <label class="form-text">お仕事を依頼したい日</label>
    <span class="indispensable">必須</span>
  </div>
  <%= f.datetime_select :start_time %>
</div>
<div class='request-btn'>
    <%= f.submit "お仕事を依頼する" ,class:"work_request-btn" %>
</div>
<% end %>