<%= render "shared/second-header" %>
<% %>
<div class="user_content">
  <div class="content_space">
    <h3><%= current_user.nickname %></h3>
    <div class="complete_work">
      <% @sum_month = 0 %>
      <h2>今月のお仕事一覧</h2>
      <div class="complete_contents">
          <% @completes_month.each do |complete| %>
            <% if complete.user_id == current_user.id %>
                <div class="complete_content">
                  <div class="complete_work_title">
                    <h3><%= complete.work.title %></h3>
                  </div>
                  <div class="complete_work_price">
                    <h3><%= complete.work.price %></h3>
                  </div>
                  <% @sum_month += complete.work.price %>
                </div>
            <% end %>
          <% end %>
        <h3>今月の合計金額<br><%= @sum_month %>円</h3>
      </div>
    </div>
    <div class="complete_work">
      <% @sum = 0 %>
      <h2>今までのお仕事一覧</h2>
      <div class="complete_contents">
        <% @completes.each do |complete| %>
          <% if complete.user_id == current_user.id %>
            <div class="complete_content">
              <div class="complete_work_title">
                    <h3><%= complete.work.title %></h3>
                  </div>
                  <div class="complete_work_price">
                    <h3><%= complete.work.price %></h3>
                  </div>
                  <% @sum += complete.work.price %>
            </div>
          <% end %>
        <% end %>
        <h3>今までの合計金額<br><%= @sum %>円</h3>
      </div>
    </div>
  </div>
</div>