<%= render "shared/second-header" %>
<%= form_with model: @user_content, url: user_contents_path, class: 'form', local: true do |f| %>
<div class="form_wrap">
  <div class="form-header">
    <h1 class="form_header_text">
      ユーザー情報入力
    </h1>
  </div>
</div>
<%= render 'layouts/error_messages', model: f.object %>
<div class="form-group">
  <div class="form-text-wrap">
    <label class="form-text">仕事に対する気持ち</label>
  </div>
  <%= f.text_field :text_content, class: "input_default",
  id: "text_content", placeholder:"例) 一生懸命頑張ります！" %>
</div>


<div class="form-group">
   <div class="click-upload">
        <p>
          プロフィール画像
        </p>
        <%= f.file_field :image, id:"item-image" %>
      </div>
</div>
<div class='request-btn'>
    <%= f.submit "ユーザー情報を更新する" ,class:"work_request-btn" %>
</div>
<% end %>